* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  color: #c2c7d8;
  background: #080834; }

::selection {
  background: #4db6ac;
  color: #f5f5fb; }

a:not(.fancy) {
  text-decoration: none;
  color: #65b8b0;
  transition: 0.2s;
  font-weight: bold;
  outline: none !important; }
  a:not(.fancy):hover {
    text-decoration: underline;
    color: #4db6ac;
    cursor: pointer; }
  a:not(.fancy):active {
    transition: 0s;
    text-decoration: underline;
    color: #3eaba1; }
  a:not(.fancy):focus {
    text-decoration: underline; }

a.fancy {
  outline: none !important;
  position: relative;
  text-decoration: none;
  color: #d7d9eb;
  transition: 0.2s;
  user-select: none;
  letter-spacing: 0.03rem; }
  a.fancy:after {
    background: none repeat scroll 0 0 transparent;
    bottom: -3px;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    background: #4db6ac;
    transition: width 0.2s ease 0s, left 0.2s ease 0s;
    width: 0;
    border-radius: 30px; }
  a.fancy:hover {
    color: #f5f5fb;
    cursor: pointer; }
  a.fancy:hover:after {
    width: 100%;
    left: 0; }

div.clear {
  clear: both; }

br {
  user-select: contain; }

.form-label {
  display: block;
  color: #b7becf;
  padding-top: 16px;
  padding-bottom: 4px;
  padding-left: 4px; }

h1,
h2,
h3,
h4 {
  color: #e2e2f4;
  font-weight: 500;
  margin: 8px 0; }

.h-border {
  border-left: 1px solid #514aac;
  padding-left: 8px; }

h1 {
  font-size: 2.75rem; }

h2 {
  font-size: 2.2rem; }

h3 {
  font-size: 1.7rem;
  font-weight: normal; }

h4 {
  font-size: 1.4rem;
  font-weight: normal; }

hr {
  height: 2px;
  border: none;
  background: #7a7ea4;
  border-radius: 3px;
  margin: 8px 0; }

input[type="button"].b2,
input[type="submit"].b2,
button.b2,
input[type="reset"].b2,
label.b2 {
  user-select: none;
  font-family: inherit;
  outline: none !important;
  background: #4db6ac;
  border: 1.5px solid #273872;
  padding: 10px 20px;
  border-radius: 4px;
  color: #f5f5fb;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: inherit;
  margin: auto 0;
  transition: 0.2s; }
  input[type="button"].b2:hover,
  input[type="submit"].b2:hover,
  button.b2:hover,
  input[type="reset"].b2:hover,
  label.b2:hover {
    background: #65b8b0;
    border-color: #2a3872;
    cursor: pointer; }
  input[type="button"].b2:active,
  input[type="submit"].b2:active,
  button.b2:active,
  input[type="reset"].b2:active,
  label.b2:active {
    transition: 0s;
    background: #3eaba1;
    border-color: #2b4678; }

input[type="button"].b1,
input[type="submit"].b1,
button.b1,
input[type="reset"].b1,
label.b1 {
  user-select: none;
  font-family: inherit;
  outline: none !important;
  background: #080834;
  border: 1px solid #04041f;
  padding: 8px 16px;
  border-radius: 3px;
  color: #a6acc0;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: inherit;
  margin: auto 0;
  transition: 0.2s; }
  input[type="button"].b1.red,
  input[type="submit"].b1.red,
  button.b1.red,
  input[type="reset"].b1.red,
  label.b1.red {
    background: #ac4a4a;
    color: #f5f5fb;
    border-color: #8a3c41; }
  input[type="button"].b1.yellow,
  input[type="submit"].b1.yellow,
  button.b1.yellow,
  input[type="reset"].b1.yellow,
  label.b1.yellow {
    background: #acac4a;
    color: #f5f5fb;
    border-color: #8a8a41; }
  input[type="button"].b1.green,
  input[type="submit"].b1.green,
  button.b1.green,
  input[type="reset"].b1.green,
  label.b1.green {
    background: #4aac4a;
    color: #f5f5fb;
    border-color: #3c8a41; }
  input[type="button"].b1.blue,
  input[type="submit"].b1.blue,
  button.b1.blue,
  input[type="reset"].b1.blue,
  label.b1.blue {
    background: #4a4aac;
    color: #f5f5fb;
    border-color: #3c3c90; }
  input[type="button"].b1.theme,
  input[type="submit"].b1.theme,
  button.b1.theme,
  input[type="reset"].b1.theme,
  label.b1.theme {
    background: #4db6ac;
    color: #f5f5fb;
    border-color: #3e9290; }
  input[type="button"].b1.disabled,
  input[type="submit"].b1.disabled,
  button.b1.disabled,
  input[type="reset"].b1.disabled,
  label.b1.disabled {
    opacity: 0.6; }
  input[type="button"].b1:hover:not(.disabled),
  input[type="submit"].b1:hover:not(.disabled),
  button.b1:hover:not(.disabled),
  input[type="reset"].b1:hover:not(.disabled),
  label.b1:hover:not(.disabled) {
    color: #b7becf;
    background: #0f1142;
    border-color: #4db6ac;
    cursor: pointer; }
  input[type="button"].b1:active:not(.disabled),
  input[type="submit"].b1:active:not(.disabled),
  button.b1:active:not(.disabled),
  input[type="reset"].b1:active:not(.disabled),
  label.b1:active:not(.disabled) {
    transition: 0s;
    border-color: #4db6ac;
    background: #4db6ac;
    color: #f5f5fb; }
  input[type="button"].b1:focus:not(.disabled),
  input[type="submit"].b1:focus:not(.disabled),
  button.b1:focus:not(.disabled),
  input[type="reset"].b1:focus:not(.disabled),
  label.b1:focus:not(.disabled) {
    border-color: #4db6ac; }

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="number"], input[type=time],
.color-wrap,
select {
  transition: border-color 0.1s;
  appearance: none;
  font-size: inherit;
  font-family: inherit;
  outline: none !important;
  background: #0f1142;
  border: 1px solid #080834;
  padding: 8px 16px;
  color: #c2c7d8;
  border-radius: 3px; }
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  input[type="date"]:focus,
  input[type="number"]:focus, input[type=time]:focus,
  .color-wrap:focus,
  select:focus {
    border-color: #4db6ac;
    background: #080834;
    color: #d7d9eb; }

.color-wrap {
  padding: 0;
  display: inline-block;
  user-select: none; }
  .color-wrap:focus-within {
    border-color: #4db6ac;
    background: #080834;
    color: #d7d9eb; }
  .color-wrap input[type="text"] {
    user-select: text;
    position: relative;
    top: -4px;
    width: 211px; }

.reset-input {
  border: none !important;
  background-color: inherit !important;
  padding: none !important; }

input[type="color"] {
  outline: none !important;
  background: #0f1142;
  border: none;
  padding: 0;
  height: 40px;
  margin: -4px 0;
  width: 64px;
  color: #c2c7d8;
  position: relative;
  top: 5px;
  left: 25px;
  clip-path: circle(15px at 18px 20px);
  transition: 0.2s; }
  input[type="color"]:hover {
    filter: invert(20%);
    cursor: pointer; }
  input[type="color"]:focus {
    filter: none; }

select {
  background-image: url("data:image/svg+xml;utf8,<svg fill='lightgrey' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
  width: 170px;
  color: #c2c7d8; }
  select:hover {
    cursor: pointer; }

.radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 0;
  cursor: pointer;
  font-size: 1rem;
  user-select: none;
  margin: 16px 0; }
  .radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }
  .radio .checkmark {
    transition: 0.1s;
    position: absolute;
    top: calc(-2px - 8px + 1rem/2);
    left: 0;
    height: 25px;
    width: 25px;
    background: #0f1142;
    border: 1px solid #080834;
    border-radius: 50%; }
  .radio:hover .checkmark {
    transition: 0;
    border-color: #4db6ac; }
  .radio input:checked ~ .checkmark {
    transition: 0;
    background-color: #0f1142;
    border: 8px solid #4db6ac; }
  .radio:focus-within .checkmark {
    transition: 0;
    border-color: #4db6ac; }

.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 0;
  cursor: pointer;
  font-size: 1rem;
  user-select: none;
  margin: 16px 0; }
  .checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }
  .checkbox .checkmark {
    transition: 0.1s;
    position: absolute;
    top: calc(-2px - 8px + 1rem/2);
    left: 0;
    height: 25px;
    width: 25px;
    background: #0f1142;
    border: 1px solid #080834;
    border-radius: 4px; }
  .checkbox input:checked ~ .checkmark:after {
    display: block; }
  .checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid #0f1142;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg); }
  .checkbox:hover .checkmark {
    transition: 0;
    border-color: #4db6ac; }
  .checkbox:focus-within .checkmark {
    transition: 0;
    border-color: #4db6ac; }
  .checkbox input:checked ~ .checkmark {
    background: #4db6ac;
    border-color: #4db6ac; }

.file-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%; }
  .file-wrap .button-wrap {
    position: relative; }
    .file-wrap .button-wrap input[type="file"] {
      position: absolute;
      z-index: -1000;
      top: 10px;
      left: 8px;
      font-size: 1rem;
      color: #b8b8b8; }
    .file-wrap .button-wrap .b1,
    .file-wrap .button-wrap .b2 {
      display: inline-block; }

textarea {
  outline: none !important;
  background: #0f1142;
  border: 1px solid #080834;
  border-radius: 4px;
  padding: 20px;
  width: 100%;
  color: #d7d9eb;
  resize: none;
  font-size: .9rem;
  height: 200px; }
  textarea:focus-within {
    border-color: #4db6ac; }

.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 28px;
  user-select: none;
  margin: 16px 0; }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
    outline: none !important; }
    .switch input:checked + .slider {
      background-color: #4db6ac; }
    .switch input:checked + .slider:before {
      transform: translateX(26px); }
  .switch input:checked ~ .slider {
    border: 1px solid #3eaba1; }
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0f1142;
    border: 1px solid #080834;
    transition: 0.2s;
    border-radius: 34px; }
    .switch .slider:before {
      transition: 0.2s;
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 4px;
      bottom: 3px;
      background-color: #f5f5fb;
      border-radius: 50%; }

.switch-label {
  position: relative;
  top: calc(10px - 1rem/2);
  left: 10px;
  user-select: none; }
  .switch-label:hover {
    cursor: pointer; }

input[type="range"] {
  width: 100%;
  margin: 0px;
  padding: 8px 0px;
  outline: none;
  background-color: transparent;
  -webkit-appearance: none;
  outline: none !important;
  transition: 0.2s; }
  input[type="range"]::-webkit-slider-runnable-track {
    cursor: pointer;
    width: 100%;
    height: 2px;
    background: #303775;
    border-radius: 10px;
    transition: 0.2s; }
  input[type="range"]::-moz-range-track {
    cursor: pointer;
    width: 100%;
    height: 2px;
    background: #303775;
    border-radius: 10px;
    transition: 0.2s; }
  input[type="range"]::-webkit-slider-thumb {
    background: #f5f5fb;
    margin-top: -7px;
    appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: none;
    transition: 0.2s;
    cursor: pointer; }
  input[type="range"]::-moz-range-thumb {
    background: #f5f5fb;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: none;
    transition: 0.2s;
    cursor: pointer; }
  input[type="range"]:active::-moz-range-track {
    background: #343b77; }
  input[type="range"]:active::-moz-range-thumb {
    background: #b7becf; }
  input[type="range"]:active::-webkit-slider-runnable-track {
    background: #343b77; }
  input[type="range"]:active::-webkit-slider-thumb {
    background: #b7becf; }

ul, ol {
  margin-left: 24px; }

code {
  display: inline-block;
  background: #080834;
  padding: 8px 16px;
  font-size: .9rem;
  color: #a1a1ba;
  border-radius: 3px;
  border: 0.5px solid #04041f; }

.prompter {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(8, 8, 52, 0.7);
  display: flex;
  align-items: center;
  justify-content: center; }
  .prompter section {
    padding: 40px;
    overflow-y: auto;
    text-align: left;
    width: 500px;
    max-width: 90vw;
    max-height: 90vh;
    background: #232a6b;
    border-radius: 8px;
    border: 1px solid #514aac; }

i {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

* {
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; }

html {
  overflow: hidden; }

body {
  background: #1c225d; }

header {
  background: #04041f;
  left: 0;
  padding: 8px 300px;
  position: fixed;
  top: 0;
  width: 100%;
  user-select: none; }
  header .left {
    display: flex;
    align-items: center;
    float: left;
    height: 40px; }
    header .left .logo {
      color: #514aac;
      font-size: 40px;
      margin-right: 16px;
      margin-left: -56px;
      transition: 0.2s; }
      header .left .logo:hover {
        cursor: pointer;
        color: #645eb1; }
      header .left .logo:active {
        transition: 0s;
        color: #443da0; }
  header .right {
    display: flex;
    align-items: center;
    float: right;
    height: 40px; }
    header .right .account {
      font-size: 36px;
      margin-left: 2px;
      color: #d7d9eb;
      transition: 0.2s; }
      header .right .account:hover {
        color: #f5f5fb;
        cursor: pointer; }
      header .right .account:active {
        transition: 0s;
        color: #d8e9ec; }
    header .right .options, header .right .notifications {
      color: rgba(215, 217, 235, 0.7);
      font-size: 26px;
      margin-right: 2px;
      transition: 0.2s; }
      header .right .options:hover, header .right .notifications:hover {
        color: rgba(215, 217, 235, 0.9);
        cursor: pointer; }
      header .right .options:active, header .right .notifications:active {
        transition: 0s;
        color: #f5f5fb; }
  @media (max-width: 1200px) {
    header {
      padding: 8px; }
      header .left > .logo {
        margin-left: 10px; } }
  @media (max-width: 700px) {
    header .left > input {
      display: none; } }

aside {
  background: #080834;
  position: fixed;
  bottom: -56px;
  height: calc(100vh - 56px);
  width: 300px;
  border-right: 1px solid #04041f;
  padding-top: 6px;
  user-select: none;
  position: relative; }
  aside > section {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-left: 1px solid #0000;
    transition: 0.2s; }
    aside > section .icon {
      font-size: 30px;
      color: rgba(215, 217, 235, 0.7);
      margin-right: 8px;
      transition: 0.2s; }
    aside > section span {
      font-size: 16px;
      transition: 0.2s; }
    aside > section:hover {
      cursor: pointer; }
      aside > section:hover .button {
        color: #575c8a; }
    aside > section:hover:not(.active) {
      background: #0f1142; }
      aside > section:hover:not(.active) .icon {
        color: #d7d9eb; }
      aside > section:hover:not(.active) span {
        color: #e2e2f4; }
    aside > section:active {
      background: #4db6ac !important;
      border-color: transparent;
      transition: 0s; }
      aside > section:active i, aside > section:active span, aside > section:active .button {
        color: #f5f5fb; }
    aside > section.active {
      background: #1c225d;
      border-color: #514aac; }
      aside > section.active i {
        color: #d7d9eb; }
      aside > section.active span {
        color: #e2e2f4; }
    aside > section i.button {
      margin-left: auto;
      margin-right: -8px;
      font-size: 22px;
      color: #0000;
      transition: 0.2s; }
      aside > section i.button:hover {
        color: #a7a8c7;
        transform: scale(1.15); }
      aside > section i.button:active {
        transition: 0s;
        color: #e2e2f4;
        transform: scale(1.15); }
  aside .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #04041f;
    text-align: center;
    margin-bottom: -41px;
    transition: 0.2s; }
    aside .bottom button {
      border: none;
      background: #232a6b;
      color: #b7becf;
      padding: 4px 6px;
      margin: 8px 0;
      border-radius: 3px;
      font-size: 14px;
      transition: 0.2s; }
      aside .bottom button:hover {
        background: #1c225d;
        cursor: pointer;
        color: #d7d9eb; }
      aside .bottom button:active {
        transition: 0s;
        background: #4db6ac;
        color: #f5f5fb; }

main {
  left: 300px;
  position: fixed;
  text-align: center;
  top: 56px;
  width: calc(100vw - 300px);
  max-width: 100vw;
  overflow-y: scroll;
  height: calc(100vh - 56px); }
  main #content {
    margin: 0 auto;
    text-align: left;
    width: 700px;
    padding: 20px 16px; }
    main #content .box1-outer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      main #content .box1-outer section {
        display: inline-block;
        background: #0f1142;
        padding: 12px;
        border-radius: 4px;
        width: 47%;
        margin: 8px;
        border: 1px solid #04041f; }
        main #content .box1-outer section .top {
          display: flex;
          align-items: center;
          margin-bottom: 6px; }
          main #content .box1-outer section .top i {
            font-size: 34px; }
          main #content .box1-outer section .top span {
            font-size: 20px;
            margin-left: 8px; }
          main #content .box1-outer section .top button {
            margin-left: auto;
            font-size: 16px;
            padding: 4px 8px; }
        main #content .box1-outer section p {
          color: #8e8ead;
          font-size: 15px; }

@media (max-width: 700px) {
  main {
    display: none; }

  aside {
    width: 100%; } }
.textedit .toolbar {
  border: 2px solid #04041f;
  border-radius: 8px 8px 0 0;
  padding: 4px;
  background: #0f1142;
  color: #d7d9eb;
  user-select: none;
  position: relative; }
  .textedit .toolbar i {
    transition: 0.1s;
    border-radius: 4px; }
  .textedit .toolbar i:hover {
    color: #f5f5fb;
    cursor: pointer;
    background: #fff1; }
  .textedit .toolbar i:active {
    transition: 0s;
    background: #514aac; }
  .textedit .toolbar .right {
    float: right; }

.textinput {
  background: #232a6b;
  border: 2px solid #0f1142;
  border-top: 0;
  border-radius: 0 0 8px 8px;
  padding: 16px;
  font-size: 18px;
  overflow-y: auto;
  max-height: 700px; }
  .textinput i {
    font-style: italic;
    font-size: inherit;
    user-select: auto;
    font-feature-settings: inherit;
    text-rendering: inherit;
    font-family: inherit; }
  .textinput ul, .textinput ol {
    margin-left: 25px; }
  .textinput img {
    height: 300px; }
  .textinput iframe {
    width: 100%;
    height: 400px;
    border: 2px solid #0f1142;
    border-radius: 16px; }

body {
  background: #e2e2f4;
  color: #1c225d; }
  body h1, body h2, body h3, body h4, body h5 {
    color: #080834; }

header {
  background: #f5f5fb;
  border-bottom: 1px solid #d7d9eb; }
  header .right .account {
    color: #0f1142; }
    header .right .account:hover {
      color: #04041f; }
    header .right .account:active {
      color: #17283c; }
  header .right .options, header .right .notifications {
    color: rgba(15, 17, 66, 0.7); }
    header .right .options:hover, header .right .notifications:hover {
      color: rgba(15, 17, 66, 0.9); }
    header .right .options:active, header .right .notifications:active {
      color: #04041f; }

aside {
  background: #d7d9eb;
  border-color: #c2c7d8; }
  aside > section {
    color: #1c225d; }
    aside > section .icon {
      color: rgba(15, 17, 66, 0.7); }
    aside > section:hover .button {
      color: #8a8ea7; }
    aside > section.active:hover span {
      color: #080834; }
    aside > section:hover:not(.active) {
      background: #d7d9eb; }
      aside > section:hover:not(.active) .icon {
        color: #0f1142; }
      aside > section:hover:not(.active) span {
        color: #080834; }
    aside > section:active {
      background: #65b8b0 !important; }
      aside > section:active i, aside > section:active span, aside > section:active .button, aside > section:active .icon {
        transition: 0;
        color: #f5f5fb !important; }
    aside > section.active {
      background: #c2c7d8;
      border-color: #645eb1; }
      aside > section.active i {
        color: #0f1142; }
      aside > section.active span {
        color: #080834; }
    aside > section i.button:hover {
      color: #404165; }
    aside > section i.button:active {
      color: #080834; }
  aside .bottom {
    background: #f5f5fb; }
    aside .bottom button {
      background: #b7becf;
      color: #232a6b; }
      aside .bottom button:hover {
        background: #c2c7d8;
        color: #0f1142; }
      aside .bottom button:active {
        background: #4db6ac;
        color: #04041f; }

main #content .box1-outer section {
  border-color: #c2c7d8;
  background: #d7d9eb; }
  main #content .box1-outer section p {
    color: #313259; }

.textedit .toolbar {
  border: 2px solid #04041f;
  background: #0f1142;
  color: #d7d9eb; }
  .textedit .toolbar i:hover {
    color: #f5f5fb;
    background: #fff1; }
  .textedit .toolbar i:active {
    background: #514aac; }
.textedit .textinput {
  background: #c2c7d8;
  border-color: #b7becf; }
  .textedit .textinput iframe {
    border: 2px solid #0f1142; }

input[type="button"].b2,
input[type="submit"].b2,
button.b2,
input[type="reset"].b2,
label.b2 {
  user-select: none;
  font-family: inherit;
  outline: none !important;
  background: #4db6ac;
  border: 1.5px solid #acbdcc;
  padding: 10px 20px;
  border-radius: 4px;
  color: #04041f;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: inherit;
  margin: auto 0;
  transition: 0.2s; }
  input[type="button"].b2:hover,
  input[type="submit"].b2:hover,
  button.b2:hover,
  input[type="reset"].b2:hover,
  label.b2:hover {
    background: #65b8b0;
    border-color: #afbdcc;
    cursor: pointer; }
  input[type="button"].b2:active,
  input[type="submit"].b2:active,
  button.b2:active,
  input[type="reset"].b2:active,
  label.b2:active {
    transition: 0s;
    background: #3eaba1;
    border-color: #a2bcc8; }

input[type="button"].b1,
input[type="submit"].b1,
button.b1,
input[type="reset"].b1,
label.b1 {
  user-select: none;
  font-family: inherit;
  outline: none !important;
  background: #e2e2f4;
  border: 1px solid #f5f5fb;
  padding: 8px 16px;
  border-radius: 3px;
  color: #202766;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: inherit;
  margin: auto 0;
  transition: 0.2s; }
  input[type="button"].b1.red,
  input[type="submit"].b1.red,
  button.b1.red,
  input[type="reset"].b1.red,
  label.b1.red {
    background: #ac4a4a;
    color: #04041f;
    border-color: #bb6c6d; }
  input[type="button"].b1.yellow,
  input[type="submit"].b1.yellow,
  button.b1.yellow,
  input[type="reset"].b1.yellow,
  label.b1.yellow {
    background: #acac4a;
    color: #04041f;
    border-color: #bbbb6d; }
  input[type="button"].b1.green,
  input[type="submit"].b1.green,
  button.b1.green,
  input[type="reset"].b1.green,
  label.b1.green {
    background: #4aac4a;
    color: #04041f;
    border-color: #6cbb6d; }
  input[type="button"].b1.blue,
  input[type="submit"].b1.blue,
  button.b1.blue,
  input[type="reset"].b1.blue,
  label.b1.blue {
    background: #4a4aac;
    color: #04041f;
    border-color: #6c6cbc; }
  input[type="button"].b1:hover,
  input[type="submit"].b1:hover,
  button.b1:hover,
  input[type="reset"].b1:hover,
  label.b1:hover {
    color: #232a6b;
    background: #d7d9eb;
    border-color: #4db6ac;
    cursor: pointer; }
  input[type="button"].b1:active,
  input[type="submit"].b1:active,
  button.b1:active,
  input[type="reset"].b1:active,
  label.b1:active {
    transition: 0s;
    border-color: #4db6ac;
    background: #4db6ac;
    color: #04041f; }
  input[type="button"].b1:focus,
  input[type="submit"].b1:focus,
  button.b1:focus,
  input[type="reset"].b1:focus,
  label.b1:focus {
    border-color: #4db6ac; }

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="number"], input[type=time],
.color-wrap,
select {
  transition: border-color 0.1s;
  appearance: none;
  font-size: inherit;
  font-family: inherit;
  outline: none !important;
  background: #d7d9eb;
  border: 1px solid #e2e2f4;
  padding: 8px 16px;
  color: #1c225d;
  border-radius: 3px; }
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  input[type="date"]:focus,
  input[type="number"]:focus, input[type=time]:focus,
  .color-wrap:focus,
  select:focus {
    border-color: #4db6ac;
    background: #e2e2f4;
    color: #0f1142; }

/*# sourceMappingURL=material.css.map */
