

*{
  box-sizing: border-box;
}

button, input{
  font-family: Comfortaa;
}

div.clear{
  clear: both;
}

div.center, h1.center{
  text-align: center;
}

.right{
  float: right;
}
.left{
  float: left;
}



body{
  background: #111;
  color: #ddd;
  margin: 0;
  padding: 0;

  font-family: Comfortaa;
}

header{
  max-width: 40rem;
  margin: 0 auto;
  background: #eee;
  padding: 1rem;
  color: #222;

  border-radius: 0 0 .5rem .5rem;
}

header .left{
  float: left;
}

header .left a, header .left a:visited {
  text-decoration: none;
  color: #222;
}

header .left a:focus{
  /* outline-width: 0; */
  outline: 2px solid #222;
}

header .left span{
  font-size: 1.3rem;
  vertical-align: middle;
  margin-left: .5rem;
  font-weight: 800;
}

header .left img{
  vertical-align: middle;
  width: 70px;
  height: 70px;
}

header .right{
  float: right;
}

header .right nav{
  padding: 25px;
  user-select: none;
}

header .right nav a, footer nav a {
  font-size: 1.05rem;
  color: #555;
  text-decoration: none;
  font-weight: 800;
  margin-left: .2rem;
  transition: 0.2s;
  border: 2px solid #0000;
  padding: .2rem;
}

header .right nav a:hover, footer nav a:hover{
  text-decoration: underline;
  color: #111;
}

header .right nav a:focus, footer nav a:focus{
  color: #111;
  outline-width: 0;
  border: 2px solid #1118;
  border-radius: 4px;
  text-decoration: none;
}

main{
  max-width: 40rem;
  margin: 2rem auto;
  background: #222;
  padding: 2rem;
  border-radius: .5rem;
  min-height: calc(100vh - 220px);
  line-height: 1.5;
  border: 4px solid #FFE46D20;
  position: relative;
}

article h2{
  display: inline-block;
  border-bottom: 2px solid #FFE46D;
  font-size: 1.7rem;
}

article p {
  text-align: justify;
}

main h1{
  margin: 0;
  font-size: 3rem;
  background: #181818;
  border-radius: 999px;
}

section img{
  width: 200px;
  margin: 1rem;
}

p.wwa{
  /* shape-outside: polygon(80% 0, 60% 0%, 50% 100%, 5% 60%, 45% 40%); */

}

footer{
  max-width: 40rem;
  margin: 0 auto;
  background: #eee;
  color: #222;
  padding: 2rem;
  border-radius: .5rem .5rem 0 0;
  width: 100vw;
}

aside{
  position: absolute;
  right: -40%;
  top: 0;
  width: 200px;
  background: #eee;
  min-height: 500px;
  border-radius: .5rem;
  color: #222;
  padding: 1rem;
  overflow: hidden;
}

.form-label{
  margin-top: 1rem;
  display: block;
}

aside input, aside select{
  max-width: 100%;
  background: #ccc;
  color: #000;
  border-radius: .2rem;
  padding: .2rem .4rem;
  border: 2px solid #bbb;
}

aside input:focus, aside select:focus{
  outline-width: 0;
  background-color: #eee;
  border-color: #ccc;
  box-shadow: 0 0 0 2px #444;
}

aside button{
  background: #222;
  color: #eee;
  border: 2px solid #111;
  padding: .4rem .8rem;
  border-radius: .4rem;
  margin-top: .4rem;
  font-weight: bold;
  transition: 0.2s;
}


aside button:hover, aside button:focus{
  cursor: pointer;
  background: #FFE46D;
  border-color: #d6c164;
  color: #222;
  outline-width: 0;
}

aside button:active{
  transition: 0s;
  background: #d6c164;
  border-color: #d6c164;
}

footer .left p{
  margin: 0;
}



/* Radio */


.radio {
  display: block;
  position: relative;
  padding-left: 2.19rem;
  margin-bottom: 0;
  cursor: pointer;
  font-size: 1rem;
  margin: 1rem 0;
  user-select: none;
  box-sizing: content-box;
}
.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.radio .checkmark {
  transition: 0.1s;
  position: absolute;
  top: -0.07rem;
  left: 0;
  height: 1.555rem;
  width: 1.555rem;
  background: #222;
  border: 2px solid #111;
  border-radius: 50%;
}
.radio:hover .checkmark {
  transition: 0s;
  border-color: #cdb85a;
}
.radio input:checked ~ .checkmark {
  transition: 0s;
  background-color: #222;
  border: 0.5rem solid #cdb85a;
}
.radio:focus .checkmark, .radio:focus-within .checkmark {
  transition: 0s;
  box-shadow: 0 0 0 2px #cdb85a;
}
.radio:focus input:checked ~ .checkmark, .radio:focus-within input:checked ~ .checkmark {
  background: #333;
}


@media (max-width: 500px){
  img.left, img.right{
    float: none;
    width: 100%;
  }
}
@media (max-width: 1200px){
  aside{
    position: static;
    width: 100%;
    padding: 2rem;
  }
}

@media (max-width: 400px) {
  aside{
    padding: .5rem;
  }
  main{
    padding: .5rem;
  }
  body{
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  header nav{
    position: relative;
    border: 2px solid #0000;
  }
  header nav a{
    display: none;
  }
  header nav::before{
    content: '\25B6';
  }
  header nav:focus-within{
    border: 2px solid #222;
  }
  header nav:hover::before, header nav:focus-within::before{
    content: '\25BC';
  }
  header nav:hover a, header nav:focus-within a{
    display: block;
    position: absolute;
    right: 25px;
    top: 50px;
    background: #ddd;
    z-index: 10;
    padding: .2rem;
    width: 100px;
    text-align: right;
    box-shadow: 0 0 5px #ddd;
  }
  header nav a:nth-child(2){
    top: 75px;
  }
  header nav a:nth-child(3){
    top: 100px;
  }
}
